@tailwind base;
@tailwind components;
@tailwind utilities;

.body-center {
  background: linear-gradient(90deg, #9A35EF 0.97%, #4B00C4 46.41%, #4176D6 101.25%);
}

.body-init {
  background: linear-gradient(260.39deg, #00315F -3.36%, #40137A 51.91%, #7A1363 94.34%);
}

.align-image {
  margin: 0 auto;
}

.blur-image {
  backdrop-filter: blur(20px)
}

.gradient-btn {
  background: linear-gradient(132.02deg, rgba(255, 255, 255, 0.2) -2.16%, rgba(0, 0, 0, 0.052) 151.47%);
  backdrop-filter: blur(10px);
}

.black-overlay {
  background: rgba(0, 0, 0, 0.50);
}

.inputs-set {
  border: none;
}

.input-field{
  border: none;
  padding: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: block;
}

.btn-submit{
  padding: 8px 12px;
  background-color: white;
}

@layer components {
  .body-home {
    @apply h-screen bg-hero-pattern text-white bg-no-repeat bg-cover bg-zinc-900 overflow-x-hidden;
  }

  .body-main {
    @apply h-screen  bg-hero-pattern text-black bg-no-repeat bg-cover bg-zinc-900 overflow-x-hidden;
  }

  .custom-button-main {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-white rounded-lg;
  }

  .input-field{
    @apply rounded-full
  }

  .btn-submit{
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 rounded-full
  }

  .btn-login{
    @apply w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 mt-10
  }
}